openapi: 3.2.0
info:
  title: Devin API (Cognition Labs) Enterprise (v3) API
  description: The Devin API lets you create and drive Devin, Cognition's autonomous AI software engineer, programmatically.
  version: '1.0'
  contact:
    name: Cognition
    url: https://cognition.ai
  license:
    name: Proprietary
    url: https://docs.devin.ai/admin/security
servers:
- url: https://api.devin.ai/v1
  description: Legacy v1 API (apk_user_*/apk_* keys)
- url: https://api.devin.ai/v3
  description: Current v3 organizations/enterprise API (cog_ keys)
security:
- bearerAuth: []
tags:
- name: Enterprise (v3)
  description: Cross-organization administration.
paths:
  /enterprise/organizations:
    get:
      operationId: listEnterpriseOrganizations
      tags:
      - Enterprise (v3)
      summary: List enterprise organizations
      description: Lists every organization under the enterprise account.
      servers:
      - url: https://api.devin.ai/v3
      responses:
        '200':
          description: A list of organizations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /enterprise/audit-logs:
    get:
      operationId: listEnterpriseAuditLogs
      tags:
      - Enterprise (v3)
      summary: List enterprise audit logs
      description: Paginated audit log entries with time-based filtering.
      servers:
      - url: https://api.devin.ai/v3
      parameters:
      - name: start_time
        in: query
        description: Unix timestamp (seconds) lower bound.
        schema:
          type: integer
      - name: end_time
        in: query
        description: Unix timestamp (seconds) upper bound.
        schema:
          type: integer
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A page of audit log entries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  next_cursor:
                    type:
                    - string
                    - 'null'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ValidationErrorBody:
      type: object
      properties:
        detail:
          type: array
          items:
            type: object
            properties:
              loc:
                type: array
                items:
                  type: string
              msg:
                type: string
              type:
                type: string
  responses:
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorBody'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'v1/v2 keys are prefixed apk_user_* (personal) or apk_* (service). The current v3 API uses service-user or personal access tokens prefixed cog_. Passed as `Authorization: Bearer YOUR_API_KEY`.'
