openapi: 3.2.0
info:
  title: Devin API (Cognition Labs) Messages API
  description: The Devin API lets you create and drive Devin, Cognition's autonomous AI software engineer, programmatically.
  version: '1.0'
  contact:
    name: Cognition
    url: https://cognition.ai
  license:
    name: Proprietary
    url: https://docs.devin.ai/admin/security
servers:
- url: https://api.devin.ai/v1
  description: Legacy v1 API (apk_user_*/apk_* keys)
- url: https://api.devin.ai/v3
  description: Current v3 organizations/enterprise API (cog_ keys)
security:
- bearerAuth: []
tags:
- name: Messages
  description: Send and read messages within a running session.
paths:
  /sessions/{session_id}/message:
    parameters:
    - $ref: '#/components/parameters/SessionId'
    post:
      operationId: sendMessage
      tags:
      - Messages
      summary: Send a message to a session
      description: Sends a follow-up message into a running session. The session must be in a running state to receive it; sending a message also wakes a sleeping session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - message
              properties:
                message:
                  type: string
      responses:
        '200':
          description: Message accepted, or a detail note if the session was already suspended.
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                properties:
                  detail:
                    type: string
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  parameters:
    SessionId:
      name: session_id
      in: path
      required: true
      description: The unique identifier of the session.
      schema:
        type: string
  schemas:
    ValidationErrorBody:
      type: object
      properties:
        detail:
          type: array
          items:
            type: object
            properties:
              loc:
                type: array
                items:
                  type: string
              msg:
                type: string
              type:
                type: string
  responses:
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorBody'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'v1/v2 keys are prefixed apk_user_* (personal) or apk_* (service). The current v3 API uses service-user or personal access tokens prefixed cog_. Passed as `Authorization: Bearer YOUR_API_KEY`.'
